// TODO: the + sign is not exactly in the middle, but currently this is not an important task
.big-plus-button {
  font-size: var(--big-space-2);
  font-weight: bolder;

  padding: var(--small-space-3);

  line-height: var(--small-space-2);
}