@use './style-foundations/font-sizes';

@mixin full-size {
  min-width: 100vw;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  font-synthesis: none;
}

/* sRGB color. */
:root {
  --bright-green: rgb(0, 255, 0);
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --bright-green: color(display-p3 0 1 0);
  }
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

html body {
  @include full-size;

  display: flex;

  justify-content: center;

  margin: 0;
  padding: 0;
}
